<div class='container'>
  <div class='row'>
    <div class='col-md-2'>
			<div>
				<!--< render 'layouts/genre' >-->
			</div>
		</div>
		
		
		
    <div class='col-md-10'>
				<div>
					<p>
						ようこそ、ながのCAKEへ！</br>
						このサイトは、ケーキ販売のECサイトになります。</br>
						会員でない方も商品の閲覧はできますが、</br>
						購入には会員登録が必要になります。
					</p>
				</div>

			<h3 class="my-3">新着商品</h3>
			<%= render partial: 'public/items/index', locals: { obj: @latest_items } %>
			<div class="text-right">
				<%= link_to public_items_path do %> <!--public_を追加-->
					全ての商品を見る ≻
				<% end %>
			</div>
		</div>
	</div>
</div>