<div class="container">
	<div class="row">
		<% obj.each do |item| %>
			<div class="mr-1">
				<%= link_to public_item_path(item) do %>
				  <%= image_tag item.image, size: "200x200", class: "img-fluid", alt: "image" %>
			  <% end %></br>
			  <p class="ml-2 mt-2 font-weight-bold"><%= item.name %></p>
				<p class="ml-2 font-weight-bold">￥<%= number_to_currency(item.price, format: "%n") %></p>
			</div>
		<% end %>
	</div>
</div>